* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FBF9F9;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left {
    flex: 1.5;
    background: url('../imagens/urso.png') no-repeat center center;
    background-size: cover;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    padding: 40px;
    position: relative;
    padding-top: 120px; 
}

.site-title {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 28px;
    font-weight: 700;
    color: #1935CA;
}

.site-title-link {
    text-decoration: none; 
    color: inherit; 
    font-family: inherit; 
    font-size: inherit; 
}

.site-title-link:hover {
    cursor: pointer;
}

.right h1 {
    font-size: 20px;
    font-weight: 700;
    color: #1935CA;
    margin-bottom: 40px;
    margin-top: 40px; 
}

.right p {
    font-size: 16px;
    color: #696F79;
    margin-bottom: 30px;
    text-align: center;
    max-width: 400px;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-group {
    width: 100%;
}

.form-group label {
    font-size: 16px;
    font-weight: 500;
    color: #696F79;
    margin-bottom: 8px;
    display: block;
}

.form-group input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    background: #F9F9F9;
}

.btn-primary {
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    background: #1935CA;
    color: #FFFFFF;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: #152A9A;
}

.back-link {
    font-size: 14px;
    font-weight: 700;
    color: #1935CA;
    text-decoration: none;
    margin-top: 20px;
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #152A9A;
}
